@media screen and (max-width: 992px) {
    .split-layout {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    /* Navbar Mobile */
    .hamburger { display: block; }
    .hamburger.active .bar:nth-child(2) { opacity: 0; }
    .hamburger.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    .hamburger.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

    .nav-menu {
        position: fixed; left: -100%; top: 70px; flex-direction: column;
        background-color: var(--white); width: 100%; text-align: center;
        transition: 0.3s; box-shadow: 0 10px 10px rgba(0,0,0,0.1); padding: 20px 0;
    }
    .nav-menu.active { left: 0; }
    .nav-menu li { margin: 15px 0; }

    /* Grid Layout Mobile */
    .card-grid { grid-template-columns: 1fr; }
    .prodi-grid { grid-template-columns: 1fr; } /* Kartu Prodi memanjang di HP */

    /* Typography di HP */
    .hero-content h1 { font-size: 2rem; }
    .section-title { font-size: 1.8rem; }
    .tefa-desc { font-size: 1rem; padding: 0 15px; }
    
    /* Tabel TEFA Mobile (Bisa Scroll Kanan-Kiri) */
    .tefa-table th, .tefa-table td { font-size: 0.9rem; padding: 10px; }
    .table-responsive { border-right: 2px solid rgba(0, 91, 63, 0.1); }
}

@media screen and (max-width: 480px) {
    .hero-section { padding: 60px 0; }
    .btn-primary { width: 100%; text-align: center; }
}
